.toolbar.theme--dark {
  background: #163159 !important;
}

.toolbar__content img {
  height: 90% !important;
  margin: 50% !important;
}

.message-list-container {
  background-color: #ffffff !important;
}

.message-bot .message-bubble {
  background-color: #ffffff !important;
}

.message-bot {
  padding: 0.938em !important;
}

.message-bubble {
  border-radius: 0 !important;
  border-left: 0.15em solid #ffc107 !important;
  padding: 0 !important;
}

.message-text ul {
  list-style-type: none !important;
}

.secondary--text .btn__content {
  background: #0077c8 !important;
  color: #ffffff;
}

.secondary--text .btn__content:hover {
  background: #d3eee7 !important;
  color: #163159 !important;
}

.input-container button .btn__content {
  border-radius: 0.313em;
  background: #00811e;
  fill: #fff;
  margin-left: auto;
  margin-right: 0;
  padding: 0.5em 0.5em;
  height: 2.25em;
  display: inline-flex;
  vertical-align: bottom;
  width: 100%;
  color: white;
}